*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family: sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 28px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 38, 108);
    padding: 10px;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-bottom-color:black;
}

h1{
    margin-top: 40px;
    margin-right: 80px;
    padding: 10px;
}

li a{
    color: white;
    
}


li{
    display: inline-block;
    padding: 10px 15px ;
    background-color: green;
    margin-left: 100px;
    list-style: none;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

li:hover{
    background: linear-gradient(to left, #1fbe69, #8a50c3);
    cursor: pointer;
}


main{
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 590px;
    
}



fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px;
    margin-top: 50px;
   background: linear-gradient(to left, #3494e6, #36d165);
    border-radius: 40px;
    color: white;
}

.group-form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;

}

input{
    width: 280px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    right: 11px;
}

label{
    position: relative;
    bottom: -7px;
    margin-top: 20px;
    font-weight: bold;
   
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 20px;

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    border-radius: 14px;
    font-size: 1rem;
    left: 100px;
    width: 110px;
    height: 40px;
}
button:hover{
       background: linear-gradient(to left, #1fbe69, #3a824f);
       cursor: pointer;
}

p{
 margin-top: 50px;

}

.checkbox{
    position: relative;
    bottom: 21px;
    right: 140px;
    height: 19px;

}


.inputs{
    
    position: relative;

}
.lemSenha{
    position: relative;
    left: 30px;
}

footer{
    position: relative;
    top: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgb(104, 103, 157);
    text-align: center;
    
    
}

a{
    
    text-decoration: none;

}
p{

    position: relative;
    bottom: 15px;
    text-align: center;   

   
}